*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    margin-top: 5rem;
}
img{
    width: 400px;
}
img .white{
    width: 100px;
}
.colors .btn{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: black;
    margin-top: 3rem;
    box-shadow: 8px 8px 2px #aaaaaa;
    border: 2px solid black;
}
.flex{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    border: 2px solid black;
    transform: scale(1.3);
}
.active{
    display: block;
}
.disactive{
    display: none;
}
.colors :nth-child(1){
    background-color: rgb(15, 123, 223);
}
.colors :nth-child(2){
    background-color: black;
}
.colors :nth-child(3){
    background-color: #fff;
}