.bg-bisque{
    background-color: #f9f1ee;
}

h1{
    color: #354259;
}
body{
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #CCF3EE;
}
.done{
    opacity: 0.5;
}
.done .input-group .taskField{
    text-decoration: line-through;
}
.editing {
    display:none;
    padding: 2px;
    text-align: center;
}
hr{
    background-color: darkblue;
    opacity: 1;
}