
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .img-feature{
        /* width: 18.75rem; */
        height: 15.6rem;
        padding: 20px 0;
    }
img{
    width: 100%;
}
.briefInfo{
    box-shadow: 0 0 4px 1px white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 600px;
}
.briefInfo:hover{
    background-color: white;
    color: black;
    transform: scale(1.05);
}
h2:hover{
    background-color: black;
    color: white;
}

body{
    background-color: black;
    color: white;
    width: 90vw;
    margin: auto;
}

.descr{
    height: 150px;
}
.imageDiv{
    height: 200px;
}
h2{
    font-size: 1.3rem;
    background-color: white;
    padding: .7rem;
    color: black;  
    border-radius: 10px;
}
h5{
    width: 100%;
}
.disc{
    color: coral;
}
